name: ci
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
  build-push:
    needs: lint
    runs-on: ubuntu-latest
    env:
      registry: ghcr.io
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ env.registry }}${{ '/' }}${{ github.repository }}${{ ':' }}${{ github.sha }}
            ${{ env.registry }}${{ '/' }}${{ github.repository }}${{ ':' }}${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
